<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/../stylesheets/main.css" />
</head>

<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
   <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});

      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {

        var floorVsTipsData = new google.visualization.arrayToDataTable([
          ['Date', 'Floor Sales', 'Tip Rate%'],
          {% for cashdrop in cashdrops %}
              {% if cashdrop.dropType == 'Floor' or cashdrop.dropType == 'Floor-Lunch' %}
              ['{{ cashdrop.dateOnEnvelope }}', {{ cashdrop.cashSales }}, {{ cashdrop.tipRate }} ],
              {% endif %}
                {% endfor %}
        ]);

        var floorVsTipRateOptions = {
          chart: {
            title: 'Floor Sales Vs TipRate',
          },
          series: {
            0: { axis: 'Floor Sales' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'Tip Rate' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            y: {
              distance: {label: '$'}, // Left y-axis.
              brightness: {side: 'right', label: 'apparent magnitude'} // Right y-axis.
            }
            
          }
        };

       var barVsTipsData = new google.visualization.arrayToDataTable([
          ['Date', 'Bar Sales', 'Tip Rate%'],
          {% for cashdrop in cashdrops %}
              {% if cashdrop.dropType == 'Bar' %}
              ['{{ cashdrop.dateOnEnvelope }}', {{ cashdrop.cashSales }}, {{ cashdrop.tipRate }} ],
              {% endif %}
                {% endfor %}
        ]);

      var barVsTipRateOptions = {
          chart: {
            title: 'Bar Sales Vs TipRate',
          },
          series: {
            0: { axis: 'Bar Sales' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'Tip Rate' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            y: {
              distance: {label: '$'}, // Left y-axis.
              brightness: {side: 'right', label: 'apparent magnitude'} // Right y-axis.
            }

          }
        };

      var suikaVsTipsData = new google.visualization.arrayToDataTable([
          ['Date', 'Bar Sales', 'Tip Rate%'],
          {% for cashdrop in cashdrops %}
              {% if cashdrop.dropType == 'Suika' %}
              ['{{ cashdrop.dateOnEnvelope }}', {{ cashdrop.cashSales }}, {{ cashdrop.tipRate }} ],
              {% endif %}
                {% endfor %}
        ]);

      var suikaVsTipRateOptions = {
          chart: {
            title: 'Suika Sales Vs TipRate',
          },
          series: {
            0: { axis: 'Suika Sales' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'Tip Rate' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            y: {
              distance: {label: '$'}, // Left y-axis.
              brightness: {side: 'right', label: 'apparent magnitude'} // Right y-axis.
            }

          }
        };

      var floorVsTipRateChart = new google.charts.Bar(document.getElementById('floorCashVsTipRate'));

      var barVsTipRateChart = new google.charts.Bar(document.getElementById('barSalesVsTipRate'));

      var suikaVsTipRateChart = new google.charts.Bar(document.getElementById('suikaSalesVsTipRate'));


      floorVsTipRateChart.draw(floorVsTipsData, floorVsTipRateOptions);

      barVsTipRateChart.draw(barVsTipsData, barVsTipRateOptions);

      suikaVsTipRateChart.draw(suikaVsTipsData, suikaVsTipRateOptions);

    };
    </script>

  </head>

<body>
<br>
<h1>Ken Ken Dashboard</h1>
<table class="tableViewDrops">
  <tr>
    <th class="header">Drop Type</th>
    <th class="header">DB Write Date</th>
    <th class="header">Service Date</th>
    <th class="header">Name</th>
    <th class="header">Credit <Br>Card Sales</th>
    <th class="header">Cash Sales</th>
    <th class="header">Credit <Br>Card Tips</th>
    <th class="header">Cash Tips</th>
    <th class="header">Total Sales</th>
    <th class="header">Total Tips</th>
    <th class="header">Tip Rate</th>
    <th class="header">Cash In <br>Envelope </th>
      <th class="header">Notes</th>
  </tr>
    {% for cashdrop in cashdrops %}
  <tr>
    <td class="on-column">{{ cashdrop.dropType }}</td>
    <td class="off-column">{{ cashdrop.date }}</td>
    <td class="on-column">{{ cashdrop.dateOnEnvelope }}</td>
    <td class="off-column">{{ cashdrop.author }}</td>
    <td class="on-column">{{ cashdrop.creditCardSales }}</td>
    <td class="off-column">{{ cashdrop.cashSales }}</td>
    <td class="on-column">{{ cashdrop.creditCardTips }}</td>
    <td class="off-column">{{ cashdrop.cashTips }}</td>
    <td class="on-column">{{ cashdrop.totalSales }}</td>
    <td class="off-column">{{ cashdrop.totalTips }}</td>
    <td class="on-column">{{ cashdrop.tipRate }}</td>
    <td class="off-column">{{ cashdrop.cashInEnvelope }}</td>
      <td class="off-column">{{ cashdrop.notesContent }}</td>
    </tr>
  {% endfor %}  
</table>
<br>

<div id="floorCashVsTipRate" class="graphWidget"></div>

<div id="barSalesVsTipRate" class="graphWidget"></div>

<div id="suikaSalesVsTipRate" class="graphWidget"></div>

<br>
</body>
</html>
{% endautoescape %}