<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/../stylesheets/main.css" />

</head>
  <body>
<table class="tableViewDrops">
  <tr>
    <th class="header">Drop Type</th>
    <th class="header">DB Write Date</th>
    <th class="header">Service Date</th>
    <th class="header">Name</th>
    <th class="header">Credit <Br>Card Sales</th>
    <th class="header">Cash Sales</th>
    <th class="header">Credit <Br>Card Tips</th>
    <th class="header">Cash Tips</th>
    <th class="header">Total Sales</th>
    <th class="header">Total Tips</th>
    <th class="header">Tip Rate</th>
    <th class="header">Cash In <br>Envelope </th>
      <th class="header">Notes</th>
  </tr>
  {% for cashdrop in cashdrops %}
  <tr>
    <td>{{ cashdrop.dropType }}</td>
    <td>{{ cashdrop.date }}</td>
    <td>{{ cashdrop.dateOnEnvelope }}</td>
    <td>{{ cashdrop.author }}</td>
    <td>{{ cashdrop.creditCardSales }}</td>
    <td>{{ cashdrop.cashSales }}</td>
    <td>{{ cashdrop.creditCardTips }}</td>
    <td>{{ cashdrop.cashTips }}</td>
    <td>{{ cashdrop.totalSales }}</td>
    <td>{{ cashdrop.totalTips }}</td>
    <td>{{ cashdrop.tipRate }}</td>
    <td>{{ cashdrop.cashInEnvelope }}</td>
    <td>{{ cashdrop.notesContent }}</td>
    </tr>
  {% endfor %}  
</table>
    </body>
</html>
{% endautoescape %}